{% extends "base.html" %}
{% block head %}
<title>Minecraft Table Python Scripts</title>
<style>
table {
    border-collapse: collapse;
    min-width: 300px;
}
table, tr, th,td{
    border: 1px solid black;
}
th {
    background-color: green;
    color: white;
}
</style>
{% endblock head %}

{% block body %}

<h2>Available Scripts</h2>

<table>
    <tr>
        <th>Script Name</th>
        <th colspan="2">Actions</th>
    </tr>
{% for script in scripts %}
    <tr>
        <td>{{script}}</td>
        <td><a href="run?script={{script}}">RUN</a></td>
        <td><a href="edit?script={{script}}">EDIT</a></td>
    </tr>
{% endfor %}
</table>

<p><button type="button" onclick='make_new_file()'>New File</button></p>

<h2>Script Output</h2>
<pre style='color: white; background-color: black;width: 600px'>
{{ output }}
</pre>

<script>
function make_new_file() {
    filename = prompt("Name for the new script?", "");
    if (filename != null) {
        window.location.assign("/edit?script=" + encodeURIComponent(filename))
    }
}
</script>
    
{% endblock body %}