{% extends "base.html" %}
{% block head %}
<!--  
    Handle the running of one script.  Passed parameters are:
        pid = the identifier of the running process
        scriptname = the name of the file that was run
-->
<title>{{scriptname}} - Output</title>
{% endblock head %}

{% block body %}

<h2>Output from: {{scriptname}}</h2>

<iframe id='output_frame' src='/output/{{pid}}' onload='check_reload()'></iframe> 

<h3>Is script still running? - ???</h3>


<script>
function check_reload() {
    // Wait for a specified time then reload the output iframe
    TIME_OUT_MILLIS = 1000
    window.setTimeout("load_output()", TIME_OUT_MILLIS)
}

function load_output() {
    // Update the output in the iframe
    document.getElementById('output_frame').contentWindow.location.reload();
}

</script>
{% endblock body %}